#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.chatBox {
  position: absolute;
  top: 10px;
  left: 20px;
  height: 90vh;
  color: black;
  border: black 2px solid;
  padding: 20px;
  border-radius: 20px;
}

.chatArea {
  display: flex;
  flex-flow: column;
  height: 75vh;
  width: 100%;
  padding: 2rem;
  text-align: left;
}

.chatBox > h1 {
  text-align: center;
}
.buttonGroup > ul {
  list-style-type: none;
  text-align: left;
}

.systemPrompt {
  text-align: left;
  color: grey;
}

.chat {
  border-bottom: #61dafbaa 1px solid;
  width: 90%;
}
.systemHandle {
  color: red;
}

button.submit {
  border-radius: 0px 10px 10px 0px;
  background-color: cornflowerblue;
  color: white;
}

button.submit:hover {
  background-color: white;
  color: black;
  border: black 1px solid;
}

.userHandle {
  color: #3512d0aa;
  font-weight: bolder;
}
.userInput {
  text-align: right;
  color: black;
}
.inputBox {
  width: 80vw;
  display: flex;
}

.inputBox > input {
  flex-grow: 5;
}
.buttonGroup > ul > li {
  display: inline-block;
}

.buttonGroup button {
  color: bisque;
  border: #61dafbaa 2px solid;
  background-color: black;
  margin: 5px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
